:root {
  --grey: #f5f4fa;
  --black: #2f303a;
  --text-grey: #757575;
  --text-black: #212121;
  --blue: #2196f3;
  --white: #ffffff;
  font-family: "Roboto", "Raleway", sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
}
*, 
::after, 
::before {
  box-sizing: border-box;
}

body {
  background-color:var(--white);
  display: block;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.index{
  background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;
    min-height: 80px;
    align-items: center;
    padding: 25px 0;
}
.index .container{
  display: flex;
  align-items: center;
}
.Web,
.stat{
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.Web{
 color: #2196f3;
}
.stat{
  color: #212121;
}
.inner-link {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--text-black);
  line-height: 1.19;
  text-decoration-line: none;
  padding: 24px 93px 24px 0px;
}

.index nav a {
  color: #212121;
  font-weight: 500;
  display: flex;
}
ul, 
ol {
  list-style-type: none;
}
.list-menu{
  margin-right: 46px;
  display: flex;
}
.list-nav{
  display: flex;
 }
.list-nav a{
  text-decoration: none;
  display: flex;
}
.list-nav a[href="index.html"] {
  margin-left: 94px;
}
.list-nav a:visited {
  color: var(--text-black);
}
header .tel,
header .mail{
  color: var(--text-grey);
}
.index .tel{
  margin-left: auto;
  margin-right: auto;
}

.list-nav1{
  list-style-type: none;
  margin-left: auto;
  margin-right: 12px;
  display: flex;
}

.list-nav1 a{
  text-decoration: none;
  color: var(--text-grey);
  margin-left: 50px;
  display: flex;
}

.main-container{
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    justify-content: space-between;
    padding-top: 75px;
}

header .agency,
header .portfolio,
header .contact {
  color: #757575;
  cursor: pointer;
  text-decoration-line: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

header .portfolio:hover,
header .portfolio:focus,
header .agency:hover,
header .agency:focus,
header .contact:hover,
header .contact:focus {
  color: var(--blue);
}
header .tel,
header .mail,
header .ic{
  cursor: pointer;
  text-decoration: none;
  color: #757575;
}
header .tel{
	padding-right: 12px;
}
header .mail{
	padding-right:50px;
}

header .tel:hover,
header .mail:hover,
header .ic:hover{
  color: var(--blue);
  fill: var(--blue);
  cursor: pointer;
}
header .ic{
  display: flex;
  padding: 20px 0;
  fill: var(--grey);
  border-radius: 50%;
}
header .ics{
  width: 16px;
  height: 12px;
  fill: var(--grey);
  border-radius: 50%;
}

.list-menu:not(:last-child) {
  margin-right: 46px;
}


nav .portfolio:hover,
nav .portfolio:focus {
  color: var(--blue);
}
.sec1{
  background-color: rgba(47, 48, 58, 1);
  height: 600px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-size: 1600px 600px;
  background-image:   linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
                url("./images/bgImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sec1 .but {
  color: var(--white);
  background: var(--blue);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  align-items: center;
}
.title{
  color: white;
  align-items: center;
  text-transform: uppercase;
  font-size: 44px;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 696px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.lorem-li{
  margin-right: 30px;
}
.sec2,
.lorem{
  background-color: var(--white);
  display: flex;
  padding: 40px;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: space-between;
}
.section .but:hover {
  border-radius: 4px;
}
.clients{
  font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: var(--text-blacks);
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
    margin-bottom: 50px;

}
.list-clients{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
 
}
.ic{
  padding: 25px 0;
  height: 120px;
  background-color: var(--grey);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.corpos{
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: #757575;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.corpos .ics{
  width: 106px;
  height: 60px;
}
.ics{
  width: 70px;
  height: 70px;
}
.ic:hover{
  cursor: pointer;
}
header .ics:hover{
	fill: var(--blue);
}
.corpos:hover,
.corpos:focus{
  fill:var(--blue);
  border: 1px solid var(--text-grey);
}
.text1,
.text2,
.text3,
.text4{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  text-align: left;
  list-style: none;
  padding-right: 30px;
}
.text11, 
.text22, 
.text33, 
.text44{
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-grey);
  letter-spacing: 0.03em;
  text-align: justify;
}
.list-images{
  display: flex;
  padding-left: 0;
  justify-content: space-around;
}
.sec2,
.lorem,
.sec3,
.list-images{
  font-size: 14px;
  line-height: 1.14;
  justify-content: space-between;
}

.sec3{
  background-color: var(--white);
}

.sec3 .about{
  background-color: var(--white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
}
.we{
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 50px;
  max-width: 212px;
}
.about,
.we{
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
}
img {
  display: block;
}
.list-images2 figcaption{
  margin-bottom: 30px;
}
.social-media{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
  margin-left: 32px;
  padding-top: 20px;
}
.soc-li{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.soc-media{
  align-items: center;
  justify-content: center;
}
.social-link{
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
}
.social-link:hover,
.social-link:focus{
  background-color: var(--blue);
  fill: var(--white);
}
.sec4{
  background-color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 0;
  justify-content: space-between;
}
.sec4 .we {
  padding-top: 94px;
  background-color: #f5f4fa;
}
.list-images2{
  background-color: #f5f4fa;
  display: flex;
  padding-left: 0;
  padding-bottom: 10px;
  justify-content: space-between;
}

.imagination1,
.imagination2,
.imagination3,
.imagination4{
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  text-align: center;
}
.imagination1{
  margin-left: 0px;
}
.imagineA,
.imagineB,
.imagineC{
  border-radius: 0px;
}
.person{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 30px 97px 10px;
}
.job{
  color: var(--text-grey);
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 16px;
}

.icon-link{
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: var(--text-grey);
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.icon-link:hover,
.icon-link:focus{
  border: var(--blue);
  fill: var(--blue);
}
.list-buttons{
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -8px;
  padding-bottom: 50px;
}

.list-buttons .but1,
.list-buttons .but2,
.list-buttons .but3,
.list-buttons .but4,
.list-buttons .but5 {
  font-family: "Roboto", sans-serif;
  background-color: var(--grey);
  border-radius: 4px;
  color: var(--text-black);
  border: 0px;
  font-size: 100%;
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  margin-left: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  text-transform: none;
}

.section .but1:hover,
.section .but2:hover,
.section .but3:hover,
.section .but4:hover,
.section .but5:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
  0px 2px 1px rgb(0 0 0 / 20%);
}
.section .but1:focus,
.section .but2:focus,
.section .but3:focus,
.section .but4:focus,
.section .but5:focus {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
  0px 2px 1px rgb(0 0 0 / 20%);
}
.list-photos{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: space-between;
  line-height: 36px;
  letter-spacing: 0.03em;
}

.imagine1,
.imagine2,
.imagine3,
.imagine4,
.imagine5,
.imagine6,
.imagine7,
.imagine8,
.imagine9{
  background-color: #fff;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 370px;
  border-radius: 0px;
}  
.imagine1:focus,
.imagine2:focus,
.imagine3:focus,
.imagine4:focus,
.imagine5:focus,
.imagine6:focus,
.imagine7:focus,
.imagine8:focus,
.imagine9:focus {
box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%);
}
.list-photos figcaption{
  padding-top: 10px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0px;
  letter-spacing: 0.03em;
  padding-left: 10px;
}
figcaption{
  padding-top: 20px;
  padding-bottom: 20px;
}
footer {
  background-color: var(--black);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
}
footer .container{
  padding-top: 60px;
}
footer .end {
	font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
  line-height: 1.19;
  text-decoration-line: none;
}
.address {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 400;
  list-style-type: none;
  margin-bottom: 9px;
  gap: 30px;
}
footer .stat{
  color: var(--white);
}
.join{
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 16px;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--black);
  fill: var(--white);
}
.join-li{
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--black);
  cursor: pointer;
  margin-right: 10px;
  fill: var(--white);
}
.media{
  width: 20px;
  height: 20px;
  align-items: center;
  fill: var(--white);
}
.foot-social{
  margin-left: 70px;
  flex-wrap: wrap;
}
.come-in{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  width: 113px;
  height: 16px;
  text-transform: uppercase;
  font-family: 'Roboto';
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  color: var(--white);
}
.foot-link{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white);
}
footer .media:hover,
footer .media:focus{
  background-color: var(--blue);
}
footer .tel {
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
  opacity: 40%;
  padding-bottom: 8px;
}
footer .tel:hover,
footer .tel:focus {
  color: var(--blue);
  text-decoration: underline;
}
footer .mail {
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
  opacity: 40%;
  padding-bottom: 8px;
}
footer .mail:hover,
footer .mail:focus {
  color: #2196f3;
  text-decoration: underline;
}
